asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
conda==4.5.11
cryptography==2.3.1
Django==2.1.7
idna==2.7
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
pytz==2018.9
requests==2.19.1
ruamel-yaml==0.15.46
six==1.11.0
urllib3==1.23
